<!-- Footer -->
<footer class="footer container-fluid pl-30 pr-30">
    <div class="row">
        <div class="col-sm-12">
            <p>Powered by suhail</p>
        </div>
    </div>
</footer>
<!-- /Footer -->
<script src="/vendors/bower_components/jquery/dist/jquery.min.js" ></script>

<!-- Bootstrap Core JavaScript -->
<script src="/vendors/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="/vendors/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

<!-- Toast JavaScript -->
<script src="/vendors/bower_components/jquery-toast-plugin/dist/jquery.toast.min.js" type="text/javascript"></script>



<script src="/vendors/bower_components/bootstrap-select/dist/js/bootstrap-select.min.js" type="text/javascript"></script>

<!-- Select2 JavaScript -->
<script src="/vendors/bower_components/select2/dist/js/select2.full.min.js" type="text/javascript"></script>

<!-- Bootstrap Touchspin JavaScript -->
<script src="/vendors/bower_components/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min.js" type="text/javascript"></script>

<!-- Bootstrap Core JavaScript -->
<script src="/vendors/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- Data table JavaScript -->
<script src="/vendors/bower_components/datatables/media/js/jquery.dataTables.min.js"></script>

<!-- Sweet-Alert  -->
<script src="/vendors/bower_components/sweetalert/dist/sweetalert.min.js"></script>

<!-- Switchery JavaScript -->
<script src="/vendors/bower_components/switchery/dist/switchery.min.js"></script>

<!-- Slimscroll JavaScript -->
<script src="/dist/js/jquery.slimscroll.js"></script>

<!-- Progressbar Animation JavaScript -->
<script src="/vendors/bower_components/waypoints/lib/jquery.waypoints.min.js"></script>
<script src="/vendors/bower_components/jquery.counterup/jquery.counterup.min.js"></script>

<!-- Sparkline JavaScript -->
<script src="/vendors/jquery.sparkline/dist/jquery.sparkline.min.js"></script>


<!-- EChartJS JavaScript -->
<script src="/vendors/bower_components/echarts/dist/echarts-en.min.js"></script>
<script src="/vendors/echarts-liquidfill.min.js"></script>



<script src="/dist/js/dashboard-data.js"></script>



<!--&lt;!&ndash; Form Advance Init JavaScript &ndash;&gt;-->
<!--<script src="/dist/js/form-advance-data.js" type="text/javascript"></script>-->


<!-- Init JavaScript -->
<script src="/dist/js/init.js" type="text/javascript"> </script>

<script type="text/javascript">
    let jsonMsgInfo = '{{{infoMsg}}}';
    //console.log(jsonMsgInfo);

    try{
        let infoMsg = JSON.parse('{{{infoMsg}}}');
        infoMsgFunction(infoMsg);
    } catch(e){

    }


    function infoMsgFunction(infoMsg){
        let MsgCode = infoMsg.code;
        let MsgTitle = infoMsg.title;
        let MsgContent = infoMsg.content;

        if(MsgCode == 'error')
        {
            $.toast().reset('all');
            $("body").removeAttr('class');
            $.toast({
                heading: MsgTitle,
                text: MsgContent,
                position: 'top-right',
                loaderBg:'#fec107',
                icon: 'error',
                hideAfter: 10000
            });
        }
        else if(MsgCode == 'success')
        {
            $.toast().reset('all');
            $("body").removeAttr('class');
            $.toast({
                heading: MsgTitle,
                text: MsgContent,
                position: 'top-right',
                loaderBg:'#fec107',
                icon: 'success',
                hideAfter: 10000,
                stack: 6
            });
        }
        else if(MsgCode == 'warning')
        {
            $.toast().reset('all');
            $("body").removeAttr('class');
            $.toast({
                heading: MsgTitle,
                text: MsgContent,
                position: 'top-right',
                loaderBg:'#ff2a00',
                icon: 'warning',
                hideAfter: 10000,
                stack: 6
            });
        }
        else if(MsgCode == 'info')
        {
            $.toast().reset('all');
            $("body").removeAttr('class');
            $.toast({
                heading: MsgTitle,
                text: MsgContent,
                position: 'top-right',
                loaderBg:'#fec107',
                icon: 'info',
                hideAfter: 10000,
                stack: 6
            });
        }
    }



</script>

