
<div class="fixed-sidebar-left">
    <ul class="nav navbar-nav side-nav nicescroll-bar">

        <li class="navigation-header">
            <span>Main</span>
            <i class="zmdi zmdi-more"></i>
        </li>


        <li>
            <a href="/" >
                <div class="pull-left"><i class="fa fa-home mr-20"></i><span class="right-nav-text">Dashboard</span></div><div class="clearfix"></div></a>
        </li>


        <li>
            <a href="/people" >
                <div class="pull-left"><i class="fa fa-users mr-20"></i><span class="right-nav-text">Peoples</span></div><div class="clearfix"></div></a>
        </li>

        <li>
            <a href="javascript:void(0);" data-toggle="collapse" data-target="#product_dr" <?php echo ($PageActive == 'product')?'class="active-page"':' >
            <div class="pull-left"><i class="fa fa-flask mr-20"></i><span class="right-nav-text">Giving</span></div><div class="pull-right">
            <i class="zmdi zmdi-caret-down"></i></div><div class="clearfix"></div></a>
            <ul id="product_dr" class="collapse collapse-level-1">
                <li>
                    <a href="/giving/add" > New</a>
                </li>
                <li>
                    <a href="/giving" >List </a>
                </li>



            </ul>
        </li>

        <li>
            <a href="javascript:void(0);" data-toggle="collapse" data-target="#getting_dr" <?php echo ($PageActive == 'product')?'class="active-page"':' >
            <div class="pull-left"><i class="fa fa-shopping-cart mr-20"></i><span class="right-nav-text">Getting</span></div><div class="pull-right">
            <i class="zmdi zmdi-caret-down"></i></div><div class="clearfix"></div></a>
            <ul id="getting_dr" class="collapse collapse-level-1">
                <li>
                    <a href="/getting/add" > New</a>
                </li>
                <li>
                    <a href="/getting" >List </a>
                </li>



            </ul>
        </li>





        <li><hr class="light-grey-hr mb-10"/></li>
        <li class="navigation-header">
            <span>C Panel</span>
            <i class="zmdi zmdi-more"></i>
        </li>

        <li>
            <a href="/user" >
                <div class="pull-left"><i class="fa fa-user mr-20"></i><span class="right-nav-text">User</span></div><div class="clearfix"></div></a>
        </li>

        </li>

        <li>
            <a href="#" >
                <div class="pull-left"><i class="fa fa-database mr-20"></i><span class="right-nav-text">Backup</span></div><div class="clearfix"></div></a>
        </li>

    </ul>
</div>

