<!-- Preloader -->
<div class="preloader-it">
    <div class="la-anim-1"></div>
</div>
<!-- /Preloader -->
<div class="wrapper theme-1-active pimary-color-pink">
    <!-- Top Menu Items -->
    {{>header}}
    <!-- /Top Menu Items -->

    <!-- Left Sidebar Menu -->
    {{>sidebar}}
    <!-- /Left Sidebar Menu -->





    <!-- Main Content -->
    <div class="page-wrapper">
        <div class="container-fluid pt-25">
            <!-- Row -->
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                    <div class="panel panel-default card-view pa-0">
                        <div class="panel-wrapper collapse in">
                            <div class="panel-body pa-0">
                                <div class="sm-data-box">
                                    <div class="container-fluid">
                                        <div class="row">
                                            <div class="col-xs-6 text-center pl-0 pr-0 data-wrap-left">
                                                <span class="txt-dark block counter"><span class="counter-anim">{{totalPeople}}</span></span>
                                                <span class="weight-500 uppercase-font block font-13">കണക്കുകൾ</span>
                                            </div>
                                            <div class="col-xs-6 text-center  pl-0 pr-0 data-wrap-right">
                                                <i class="icon-user-following data-right-rep-icon txt-light-grey"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                    <div class="panel panel-default card-view pa-0">
                        <div class="panel-wrapper collapse in">
                            <div class="panel-body pa-0">
                                <div class="sm-data-box">
                                    <div class="container-fluid">
                                        <div class="row">
                                            <div class="col-xs-6 text-center pl-0 pr-0 data-wrap-left">
                                                <span class="txt-dark block counter"><span class="counter-anim">{{kittan}}</span></span>
                                                <span class="weight-500 uppercase-font block">കിട്ടാൻ</span>
                                            </div>
                                            <div class="col-xs-6 text-center  pl-0 pr-0 data-wrap-right">
                                                <i class="icon-control-rewind data-right-rep-icon txt-light-grey"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                    <div class="panel panel-default card-view pa-0">
                        <div class="panel-wrapper collapse in">
                            <div class="panel-body pa-0">
                                <div class="sm-data-box">
                                    <div class="container-fluid">
                                        <div class="row">
                                            <div class="col-xs-6 text-center pl-0 pr-0 data-wrap-left">
                                                <span class="txt-dark block counter"><span class="counter-anim">{{kodkan}}</span></span>
                                                <span class="weight-500 uppercase-font block">കൊടുക്കാൻ</span>
                                            </div>
                                            <div class="col-xs-6 text-center  pl-0 pr-0 data-wrap-right">
                                                <i class="icon-control-forward data-right-rep-icon txt-light-grey"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                    <div class="panel panel-default card-view pa-0">
                        <div class="panel-wrapper collapse in">
                            <div class="panel-body pa-0">
                                <div class="sm-data-box">
                                    <div class="container-fluid">
                                        <div class="row">
                                            <div class="col-xs-6 text-center pl-0 pr-0 data-wrap-left">
                                                <span class="txt-dark block counter"><span class="counter-anim">{{KittanPers}}</span>%</span>
                                                <span class="weight-500 uppercase-font block">ശതമാനത്തിൽ  </span>
                                            </div>
                                            <div class="col-xs-6 text-center  pl-0 pr-0 pt-25  data-wrap-right">
                                                <div id="sparkline_4" style="width: 100px; overflow: hidden; margin: 0px auto;"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /Row -->



            <!-- Row -->
            <div class="row">
                <div class="col-lg-8 col-md-7 col-sm-12 col-xs-12">
                    <div class="panel panel-default card-view panel-refresh">
                        <div class="refresh-container">
                            <div class="la-anim-1"></div>
                        </div>
                        <div class="panel-heading">
                            <div class="pull-left">
                                <h6 class="panel-title txt-dark">അവസാനം പയറ്റിയ  അഞ്ച് പയറ്റുകൾ </h6>
                            </div>
                            <div class="pull-right">
                                <a href="#" class="pull-left inline-block refresh mr-15">
                                    <i class="zmdi zmdi-replay"></i>
                                </a>
                                <a href="#" class="pull-left inline-block full-screen mr-15">
                                    <i class="zmdi zmdi-fullscreen"></i>
                                </a>
                                <div class="pull-left inline-block dropdown">
                                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false" role="button"><i class="zmdi zmdi-more-vert"></i></a>
                                    <ul class="dropdown-menu bullet dropdown-menu-right"  role="menu">
                                        <li role="presentation"><a href="javascript:void(0)" role="menuitem"><i class="icon wb-reply" aria-hidden="true"></i>Edit</a></li>
                                        <li role="presentation"><a href="javascript:void(0)" role="menuitem"><i class="icon wb-share" aria-hidden="true"></i>Delete</a></li>
                                        <li role="presentation"><a href="javascript:void(0)" role="menuitem"><i class="icon wb-trash" aria-hidden="true"></i>New</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="panel-wrapper collapse in">
                            <div class="panel-body row pa-0">
                                <div class="table-wrap">
                                    <div class="table-responsive">
                                        <table class="table mb-0" id="TableData">
                                            <thead>
                                            <tr>

                                                <th>Date</th>
                                                <th>Name</th>
                                                <th>Mobile</th>
                                                <th>Amount</th>


                                            </tr>
                                            </thead>
                                            <tbody>

                                            {{#each trans }}

                                            <tr id="{{this.id}}">

                                                <td>{{dateToStringDate this.date}}</td>
                                                <td>{{this.person.name}}</td>

                                                <td>{{this.person.mobile}}</td>
                                                <td>{{this.amount}}</td>

                                            </tr>

                                            {{else}}

                                            <tr id="0">
                                                <td colspan="2" align="center">No data found</td>
                                            </tr>

                                            {{/each}}




                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-5 col-sm-12 col-xs-12">
                    <div class="panel panel-default card-view panel-refresh">
                        <div class="refresh-container">
                            <div class="la-anim-1"></div>
                        </div>
                        <div class="panel-heading">
                            <div class="pull-left">
                                <h6 class="panel-title txt-dark">കിട്ടാനും കൊടുക്കാനും ഉള്ളത് ശതമാനത്തിൽ </h6>
                            </div>
                            <div class="pull-right">
                                <a href="#" class="pull-left inline-block refresh mr-15">
                                    <i class="zmdi zmdi-replay"></i>
                                </a>
                                <div class="pull-left inline-block dropdown">
                                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false" role="button"><i class="zmdi zmdi-more-vert"></i></a>
                                    <ul class="dropdown-menu bullet dropdown-menu-right"  role="menu">
                                        <li role="presentation"><a href="javascript:void(0)" role="menuitem"><i class="icon wb-reply" aria-hidden="true"></i>option 1</a></li>
                                        <li role="presentation"><a href="javascript:void(0)" role="menuitem"><i class="icon wb-share" aria-hidden="true"></i>option 2</a></li>
                                        <li role="presentation"><a href="javascript:void(0)" role="menuitem"><i class="icon wb-trash" aria-hidden="true"></i>option 3</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="panel-wrapper collapse in">
                            <div class="panel-body">
                                <div id="e_chart_3" class="" style="height:236px;"></div>
                                <div class="label-chatrs text-center mt-30">
                                    <div class="inline-block mr-15">
                                        <span class="clabels inline-block bg-yellow mr-5"></span>
                                        <span class="clabels-text font-12 inline-block txt-dark capitalize-font">കൊടുക്കാൻ</span>
                                    </div>
                                    <div class="inline-block mr-15">
                                        <span class="clabels inline-block bg-red mr-5"></span>
                                        <span class="clabels-text font-12 inline-block txt-dark capitalize-font">കിട്ടാൻ</span>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Row -->
        </div>

        {{>footer}}

    </div>
    <!-- /Main Content -->

</div>
<!-- /#wrapper -->

<!-- JavaScript -->

<!-- jQuery -->

<script type="text/javascript">

    /*Dashboard Init*/

    "use strict";

    /*****Ready function start*****/
    $(document).ready(function(){
        $('#statement').DataTable({
            "bFilter": false,
            "bLengthChange": false,
            "bPaginate": false,
            "bInfo": false,
        });
    });
    /*****Ready function end*****/

    /*****Load function start*****/
    // $(window).on("load", function() {
    // 	window.setTimeout(function(){
    // 		$.toast({
    // 			heading: 'Welcome to Jetson',
    // 			text: 'Use the predefined ones, or specify a custom position object.',
    // 			position: 'bottom-left',
    // 			loaderBg:'#f8b32d',
    // 			icon: 'success',
    // 			hideAfter: 3500,
    // 			stack: 6
    // 		});
    // 	}, 3000);
    // });
    /*****Load function* end*****/

    /*****E-Charts function start*****/
    var echartsConfig = function() {


        if( $('#e_chart_3').length > 0 ){
            var eChart_3 = echarts.init(document.getElementById('e_chart_3'));
            var option3 = {
                tooltip : {
                    trigger: 'item',
                    formatter: "{a} <br/>{b} : {c} ({d}%)",
                    backgroundColor: 'rgba(33,33,33,1)',
                    borderRadius:0,
                    padding:10,
                    textStyle: {
                        color: '#fff',
                        fontStyle: 'normal',
                        fontWeight: 'normal',
                        fontFamily: "'Roboto', sans-serif",
                        fontSize: 12
                    }
                },
                legend: {
                    show:false
                },
                toolbox: {
                    show : false,
                },
                calculable : true,
                labelLine: {
                    normal: {
                        smooth: true,
                        lineStyle: {
                            width: 2
                        }
                    }
                },
                itemStyle: {
                    normal: {
                        shadowBlur: 5,
                        shadowColor: 'rgba(0, 0, 0, 0.5)'
                    }
                },
                series : [
                    {
                        name:'Advertising',
                        type:'pie',
                        radius : '60%',
                        center : ['50%', '50%'],
                        roseType : 'radius',
                        color: ['#f33923', '#f8b32d'],
                        data:[
                            {value:"{{kittan}}", name:'കിട്ടാൻ'},
                            {value:"{{kodkan}}", name:'കൊടുക്കാൻ'},
                        ].sort(function (a, b) { return a.value - b.value; }),
                    },
                ],
                animationType: 'scale',
                animationEasing: 'elasticOut',
                animationDelay: function (idx) {
                    return Math.random() * 1000;
                }
            };
            eChart_3.setOption(option3);
            eChart_3.resize();
        }
    }
    /*****E-Charts function end*****/

    /*****Sparkline function start*****/
    var sparklineLogin = function() {

        if( $('#sparkline_4').length > 0 ){
            $("#sparkline_4").sparkline([0,2,8,6,8,5,6,4,8,6,6,2 ], {
                type: 'bar',
                width: '100%',
                height: '50',
                barWidth: '5',
                barSpacing: '5',
                barColor: '#ac235c',
                highlightSpotColor: '#ac235c'
            });
        }
    }
    /*****Sparkline function end*****/


    /*****Function Call start*****/
    sparklineLogin();
    echartsConfig();
    /*****Function Call end*****/


</script>