<!-- Preloader -->
<div class="preloader-it">
    <div class="la-anim-1"></div>
</div>
<!-- /Preloader -->
<div class="wrapper theme-1-active pimary-color-pink">
    <!-- Top Menu Items -->
    {{>header}}
    <!-- /Top Menu Items -->

    <!-- Left Sidebar Menu -->
    {{>sidebar}}
    <!-- /Left Sidebar Menu -->





    <!-- Main Content -->
    <div class="page-wrapper">
        <div class="container-fluid">

            <!-- Title -->
            <div class="row heading-bg">
                <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                    <h5 class="txt-dark">{{#if editData}}Edit{{else}}Add{{/if}} </h5>
                </div>
                <!-- Breadcrumb -->
                <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
                    <ol class="breadcrumb">


                        <li><a href="/">Dashboard</a></li>
                        <li><a href="/giving"><span>Getting</span></a></li>
                        <li class="active"><span>{{#if editData}}Edit{{else}}Add{{/if}} </span></li>
                    </ol>
                </div>
                <!-- /Breadcrumb -->
            </div>
            <!-- /Title -->

            <!-- Row -->
            <div class="row">
                <div class="col-sm-12">
                    <div class="panel panel-default card-view">

                        <div class="panel-wrapper collapse in">
                            <div class="panel-body">
                                <div class="form-wrap">
                                    <form name="form one" method="post"  action="/getting">

                                        <div class="row">
                                            <div class="col-sm-6">


                                                <div class="form-group m-b-0">
                                                    <label class="control-label mb-10">Date</label>
                                                    <input id="date" type="date" value="{{#if date}}{{date}}{{else}}{{currentDate}}{{/if}}" name="date" class="form-control" >
                                                </div>


                                                <div class="form-group">
                                                    <label class="control-label mb-10">People</label>
                                                    <select class="selectpicker select2" data-style="btn-danger btn-outline" name="peopleId" required onchange="peopleSelect();" id="peopleId">


                                                        <option value="">Chose people</option>
                                                        {{#each people}}
                                                        <option value="{{this.peopleId}}" {{#compare this.peopleId '==' ../data.peopleId}}selected{{/compare}}>{{this.name}} {{this.houseName}} {{this.mobile}}</option>
                                                        {{/each}}


                                                    </select>
                                                </div>

                                                <div class="form-group m-b-0">
                                                    <label class="control-label mb-10">Amount</label>
                                                    <input required id="amount" type="text" value="{{#if data.amount}}{{data.amount}}{{else}}{{/if}}" name="amount" class=" form-control" data-bts-button-down-class="btn btn-default" data-bts-button-up-class="btn btn-default">
                                                </div>



                                                <br>

                                                <div class="col-sm-4 col-xs-12 mt-15">
                                                    <input type="hidden" name="id" value="{{#if data.id}}{{data.id}}{{/if}}" >
                                                    <input type="hidden" name="action" id="action" value="{{#if editData}}edit{{else}}add{{/if}}" >
                                                    <button class="btn btn-primary  btn-rounded btn-block btn-anim"><i class="fa fa-check-square"></i>
                                                        <span class="btn-text">{{#if editData}}Update{{else}}Add {{/if}}</span></button>
                                                </div>






                                                <div class="col-sm-4 col-xs-12 mt-15">
                                                    <a class="btn btn-danger  btn-rounded btn-block btn-anim" href="/getting"><i class="fa fa-minus-circle"></i><span class="btn-text">Cancel</span></a>
                                                </div>



                                            </div>

                                            <div class="col-sm-6" id="peopleDet">




                                            </div>






                                        </div>

                                        <div class="row">

                                            <div class="col-sm-12">
                                                <br>
                                                <div class="panel panel-default card-view">
                                                    <div class="panel-heading">
                                                        <div class="pull-left">
                                                            <h6 class="panel-title txt-dark">Last five records</h6>
                                                        </div>

                                                        <div class="clearfix"></div>
                                                    </div>
                                                    <div class="panel-wrapper collapse in">
                                                        <div class="panel-body">

                                                            <div class="table-wrap mt-0">
                                                                <div class="table-responsive">
                                                                    <table class="table mb-0" id="TableData">
                                                                        <thead>
                                                                        <tr>

                                                                            <th>Date</th>
                                                                            <th>Name</th>
                                                                            <th>Mobile</th>
                                                                            <th>Amount</th>


                                                                            <th class="text-nowrap" width="6%">Action</th>
                                                                        </tr>
                                                                        </thead>
                                                                        <tbody>

                                                                        {{#each trans }}

                                                                        <tr id="{{this.id}}">

                                                                            <td>{{dateToStringDate this.date}}</td>
                                                                            <td>{{this.person.name}}</td>

                                                                            <td>{{this.person.mobile}}</td>
                                                                            <td>{{this.amount}}</td>
                                                                            <td class="text-nowrap">

                                                                                <a href="/getting/edit/{{this.id}}" class="mr-25" data-toggle="tooltip" data-original-title="Edit">
                                                                                    <i class="fa fa-pencil text-inverse m-r-10"></i> </a>

                                                                                <a href="#" data-toggle="tooltip" data-original-title="Close" onclick="DeleteItem('{{this.id}}');">
                                                                                    <i class="fa fa-close text-danger"></i> </a> </td>
                                                                        </tr>

                                                                        {{else}}

                                                                        <tr id="0">
                                                                            <td colspan="2" align="center">No data found</td>
                                                                        </tr>

                                                                        {{/each}}




                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>







                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /Row -->



        </div>

        {{>footer}}

    </div>
    <!-- /Main Content -->

</div>
<!-- /#wrapper -->

<!-- JavaScript -->

<!-- jQuery -->

<script type="text/javascript">



    $(".select2").select2();

    //.for edit data
    $( document ).ready(function() {
        if($('#action').val() == 'edit'){
            peopleSelect($('#peopleId').val());
        }

    });

    function peopleSelect(){
        let peopleId = $('#peopleId').val();

        $.ajax({
            url: '/giving/peopleInfo/'+peopleId,
            type: 'get',
            success: function(res) {
                $('#peopleDet').html(res);

            },
            error: function(xhr, desc, err) {
                console.log(xhr);
                console.log("Details: " + desc + "\nError:" + err);
            }
        });

    }

    function DeleteItem(id){


        swal({
            title: "Are you sure?",
            text: "You will not be able to recover this file!",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#f8b32d",
            confirmButtonText: "Yes, delete it!",
            cancelButtonText: "No, cancel !",
            closeOnConfirm: false,
            closeOnCancel: false
        }, function(isConfirm){
            if (isConfirm) {
                $.ajax({
                    url: '/getting/'+id,
                    type: 'delete',
                    success: function(data) {

                        if(data == true)
                        {
                            //$('table#TableData tr#'+id).remove();
                            $('table#TableData tr#'+id).hide('slow', function(){ $('table#TableData tr#'+id).remove(); });
                            swal("Deleted!", "Your file has been deleted.", "success");
                        }
                        else
                        {
                            swal("Cancelled", "Your file is safe :)", "error");
                        }

                    },
                    error: function(xhr, desc, err) {
                        console.log(xhr);
                        console.log("Details: " + desc + "\nError:" + err);
                    }
                }); // end ajax call

            } else {
                swal("Cancelled", "Your file is safe :)", "error");
            }
        });

    }

</script>